<header class="brand-bar">
  <a class="brand-lockup" href="/">
    <img class="brand-logo" src="/assets/TriVerse%20Solutions.png" alt="TriVerse Solutions logo" />
    <div class="brand-copy">
      <span class="brand-name">Triverse Soltuions</span>
      <span class="brand-trademark">Ticket Support System</span>
    </div>
  </a>

  <span class="brand-badge">Powered by Triverse Solutions</span>
</header>
